
__pycache__/buttons.cpython-311.pyc
__pycache__/frames.cpython-311.pyc
__pycache__/text_entry.cpython-311.pyc
test.py
__pycache__/buttons.cpython-312.pyc
__pycache__/frames.cpython-312.pyc
__pycache__/text_entry.cpython-312.pyc
venv/
