
__pycache__/buttons.cpython-311.pyc
__pycache__/frames.cpython-311.pyc
__pycache__/text_entry.cpython-311.pyc
test.py
__pycache__/buttons.cpython-312.pyc
__pycache__/frames.cpython-312.pyc
__pycache__/text_entry.cpython-312.pyc
venv/
__pycache__/MainMenuButton.cpython-312.pyc
__pycache__/Notes.cpython-312.pyc
__pycache__/NotesClass.cpython-312.pyc
__pycache__/notizblock.cpython-312.pyc
__pycache__/TextMultiClass.cpython-312.pyc
__pycache__/TopMenuClass.cpython-312.pyc
__pycache__/const.cpython-312.pyc
